#header{
	color: #DC143C;
	text-align: center;
}
body{
  background: #efefef;
  font-family: Roboto;
  margin:0;
  padding:0;
}
li{
	list-style: none;
}
.grid-container{
	display: grid; 
	grid-template-columns: repeat(3, 8em) 5em 10em 15em 20em 10em;
	grid-template-rows: repeat(3,9em) 3em 10em;
 }	
.box{
	border:5px solid black;
} 
.box1{
	background-color:#00008B;
	grid-column: span 2.5;
	grid-row: span 2.3;
}
.box2{
	background: yellow;
	grid-row: span 1;
	grid-column: span 1;
}
.box3{
	background: red;
	grid-column: span 2;
	grid-row: span 2;
}
.box4{
	background:white;
	grid-column: span 2;
	grid-row: span 1;
	
}
.box5{
	background: yellow;
	grid-column: span 2;
	grid-row: span 2;

}.box6{
	background: #00008B;
	grid-column: span 2;
	grid-row: span 1.5;
	
}
.box7{
	background: black;
	grid-row: span 4;
	grid-column: span 1;
	
	
}
.box8{
	background: red;
	grid-column:span 2;
	grid-row: span 4;
	
}
.box9{
	background: black;
	grid-column: span 3;
	grid-row: span 4;
	
}
.box10{
	background: red;
	grid-column: span 1;
	grid-row: span 10;
	
}
@media only screen and (max-width: 600px){
	.grid-container{
	 display: grid;
	 grid-template-columns: 100%;
	 grid-template-rows: repeat (10,10%);
	 min-height: 1000px;
	 
	}
.box {
	grid-row: span 1;
	grid-column: span1;
	}
}
	/* Small devices */
@media only screen and (min-width: 600px) {
.grid-container{
	display: grid;         
	grid-template-columns: repeat(4, 5%)  10% 15% 20% 35%;
	grid-template-rows: repeat(3,9em) 3em 10em;
	
 }	
}


/* Medium devices */
@media only screen and (min-width: 768px) {
	.grid-container{
    	grid-template-columns: repeat(10, 10%)  ;
	}
	.box10{

	grid-column: span 4;
	grid-row: span 4;
	
}
	}

/* Large devices */
@media only screen and (min-width: 992px) {
.grid-container{
    	grid-template-columns: repeat(4, 10%)  10% 15% 10% 25%;
    	display: grid;
	}
	}
